@font-face {
  font-weight: normal;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  src: url("~/assets/fonts/proxima-nova-condensed-regular.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  src: url("~/assets/fonts/proxima-nova-condensed-semibold.woff2") format("woff2");
}

@font-face {
  font-weight: 900;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  src: url("~/assets/fonts/proxima-nova-condensed-black.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "Proxima Nova";
  font-style: normal;
  src: url("~/assets/fonts/proxima-nova-regular.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: "Proxima Nova";
  font-style: normal;
  src: url("~/assets/fonts/proxima-nova-semibold.woff2") format("woff2");
}
