%container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 70px;
}

@media (min-width: $break-laptop-min) and (max-width: $break-laptop-max) {
  %container {
    max-width: 100%;
    margin: 0 20px;
  }
}

@media (min-width: $break-table-min) and (max-width: $break-table-max) {
  %container {
    max-width: 100%;
    margin: 0 20px;
    padding: 0 10px;
  }
}

@media (max-width: $break-phone-max) {
  %container {
    // max-width: 300px;
    // margin: 0 auto;
    max-width: 100%;
    margin: 0 15px;
    padding: 0 5px;
  }
}

%small-container {
  max-width: 890px;
  margin: 0 auto;
}

%button-reset {
  border: none;

  color: inherit;
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  background: none;

  &:hover {
    cursor: pointer;
  }
}
