%container {
  max-width: $break-laptop-max;
  margin: 0 auto;
  padding: 0 70px;
}

%small-container {
  max-width: 890px;
  margin: 0 auto;
}

@media (max-width: $break-laptop-max) {
  %container {
    max-width: 1130px;
    padding: 0 10px;
  }
}

@media (max-width: $break-phone-max) {
  %container {
    max-width: 290px;
    padding: 0 5px;
  }
}
