$primary: #b01736;
$primary-edgy: #a30c33;
$primary-soft: #d43152;
$gray: #444444;
$icon-background: rgb(0 0 0 / 5%);

$break-phone-max: 480px;
$break-table-min: 481px;
$break-table-max: 905px;
$break-laptop-min: 906px;
$break-laptop-max: 1290px;
