@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $gray;
  font-size: 18px;
  font-family: "Proxima Nova Condensed", Garamond, sans-serif;
  line-height: 110%;
}

h1 {
  margin-bottom: 50px;

  font-size: 56px;
}
