@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $gray;
  font-size: 18px;
  font-family: "Proxima Nova Condensed", Garamond, sans-serif;
  line-height: 110%;
}

h1 {
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
}

@media (min-width: $break-table-min) and (max-width: $break-table-max) {
  h1 {
    margin-bottom: 40px;

    font-size: 42px;
  }
}

@media (max-width: $break-phone-max) {
  h1 {
    margin-bottom: 10px;

    font-size: 28px;
  }
}

h2 {
  margin-bottom: 4px;

  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
}

@media (min-width: $break-table-min) and (max-width: $break-table-max) {
  h2 {
    font-size: 30px;
  }
}

@media (max-width: $break-phone-max) {
  h2 {
    font-size: 22px;
  }
}
